@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.font-raleway {
	font-family: "Raleway", sans-serif;
}

.selected-seats-div {
	display: flex;
	justify-content: space-between;
}

.seat-class {
	color: rgba(3, 7, 18, 0.6);
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

.disabled {
	pointer-events: none;
}

button:disabled {
	opacity: 0.3;
}
